html, body, main {
    margin-top: 0px;
    margin-bottom: 0px;
    counter-reset: figcaption;
}

main > header > h1:first-child,
main > nav > h2:first-child {
    text-align: center;
}

#toctree, figure, figure > iframe {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

figure {
    border: solid 1px;
}

figcaption:before {
    counter-increment: figcaption;
    content: 'Figure ' counter(figcaption) ': ';
}

td {
    vertical-align: top;
}

textarea {
    background-color: inherit;
    border: none;
    font-family: monospace;
}

iframe {
    border: none;
}

#column-view, #column-view * {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#column-view td {
    width: 50%;
}

aside {
    background-color: lightblue;
}

aside > h1:before, aside > h2:before, aside > h3:before, aside > h4:before, aside > h5:before, aside > h6:before {
    content: 'Aside: ';
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    cursor: pointer;
}

summary {
    border-bottom-width: 1px;
    border-bottom-style: groove;
}

dt {
    background-color: papayawhip;
}

dt:hover {
    font-weight: bold;
}

dt + dt {
    border-top-width: 1px;
    border-top-style: double;
    border-top-color: burlywood;
}

p > code, dd > code, li > code, summary > code {
    background-color: whitesmoke;
}

aside code {
    background-color: lightskyblue;
}

aside a > code {
    background-color: inherit;
}

p.comment:before {
    content: '↑ ';
}

p.comment.todo:before {
    content: '↑ TODO: ';
}

p.comment {
    margin-top: 0;
    margin-bottom: 0;
    background-color: lightgreen;
}

p.comment + p.comment {
    border-top-width: 1px;
    border-top-style: double;
    border-top-color: darkseagreen;
}

p.comment code {
    background-color: springgreen;
}

p.comment a > code {
    background-color: inherit;
}

pre {
    font-size: 10pt;
    margin-top: 0;
    margin-bottom: 0;
    color: yellow;
    background-color: darkslategray;
}

h4[id^=defn-] {
    font-size: 12pt;
    margin-bottom: 0;
    background-color: paleturquoise;
}

@media print {
    body > header table ~ * {
        display: none;
    }

    body {
        column-count: 2;
    }

    * {
        font-size: 10pt;
    }

    h1 {
        font-size: 20pt;
    }

    h2 {
        font-size: 14pt;
    }

    h3 {
        font-size: 12pt;
    }

    h4, h5, h6 {
        font-size: 10pt;
    }

    a {
        font: inherit;
        color: inherit;
        text-decoration: inherit;
    }

    a > code {
        background-color: whitesmoke;
    }

    p.comment code {
        background-color: springgreen;
    }

    aside code {
        background-color: lightskyblue;
    }
}

body > header {
    font-size: 9pt;
}
